# These are our own working files the system uses

.user*
.imagine*
.setup_done*
*.gxz
*.ixz
.tmp/
live_windows.txt

# General editor backups
*~
*.bak
*.tmp
*.swp
*.swo
*.swn

# Vim
.*.sw?
Session.vim
.netrwhist

# Emacs
.#*
*~

# Kate / KWrite (KDE editors)
*.kate-swp
*.kate-swp~

# Notepad++ backups
*.bak
~*

# MCEdit (Midnight Commander editor)
*~

# Other common
*.autosave
*.orig
*.rej
